<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.android305.lights"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity_"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".service.ClientService"
            android:enabled="true"
            android:exported="false"/>

        <activity
            android:name=".GroupActivity_"
            android:label="@string/title_activity_group"/>

        <activity
            android:name=".LampEditActivity_"
            android:label="@string/title_activity_lamp_edit"/>

        <activity
            android:name=".TimerEditActivity_"
            android:label="@string/title_activity_timer_edit"/>

        <activity
            android:name=".GroupEditActivity_"
            android:label="@string/title_activity_group_edit"/>
    </application>

</manifest>
